@font-face {
    font-family: "Didot";
    src: url(../fonts/Didot.ttf);
}

html.backdrop {
background-repeat: no-repeat;
min-height: 100%;
margin: 0;
background: #f7cbb6; /* Old browsers */
background: -moz-linear-gradient(top,  #f7cbb6 0%, #dcddde 100%) fixed; /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f7cbb6 0%,#dcddde 100%) fixed; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f7cbb6 0%,#dcddde 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7cbb6', endColorstr='#dcddde',GradientType=0 ); /* IE6-9 */

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#wrapper {
  width: 1133px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
}


body {
  height: 100%;
 margin: 0 auto;
  display: block;

}


.mobileshow { display: none;}

html, body {

  height: 100%;
  position: relative;
}

#logo {
    position: fixed;
    z-index: 1;

}



#topbar {
    position: fixed;
    width: 100%;
    background: #fff;
    height: 80px;
}

#links {
  display: inline;
}

#links a:hover {
  color: #fff;
}

div.row_1 {
  width: 100%;
}

div.row_1 img {
display: inline;
margin-top: 180px;
padding-left: 65px;
border: 0 none;
}

/*.row_1 img:hover {
  opacity: 0.3;
}*/



div.row_2 {
margin-left: 87px;
margin-top: 120px;
}

div.row_2 a {
  text-decoration: none;
  color: black;
  font-family: "Didot", Arial;
  font-style: italic;
}

div.row_3 {
  width: 25.7%;
  float: right;
  position: relative;
  top: -65px;
}


div.row_3 a {
  text-decoration: none;
  color: black;
  font-family: "Didot", Arial;
  font-style: italic;
}

div.row_3 a:after {
  content: "";
  display: block;
  height: 15px;
  width: 1px;
}


/* MEDIA QUERIES */

  @media only screen and (min-width: 1520px) {

    #wrapper {
        width: 1190px;
    }


    div.row_3 {
        width: 29.9%;
    }

    div.row_2 {
        margin-left: 86px;
    }

    img.description{
      visibility: hidden;
    }

    
  } 

   @media only screen and (max-width: 1133px) {

    #wrapper {
        width: 1017px;
    }


    div.row_3 {
        width: 27.7%;
    }


    div.row_2 {
        margin-left: 51px;
    }

    div.row_2 img {
        width: 20px;
    }

    div.row_3 img {
        width: 20px;
    }


    div.row_1 img {
        width: 29%;
        padding-left: 33px;
    }
    
  } 


@media only screen and (max-width: 1010px) {

div.row_1 img {
        width: 295px;
        margin-left: auto;
        margin-right: auto;
    
      
    }

div.row_1 {
  padding-top: 0px;
  margin: 0 auto;
  width: 89%;
}

#logo {
  position: ;
}

#topbar {
  position: ;
}

div.row_3 {
  float: left;
  display: inline;
  top: -383px;
  left: 421px;
}

div.row_3 img {
        width: 20px;
    }

div.row_2 img {
        width: 20px;
    }
#wrapper {
  width: 774px;
  margin: auto;
}

div.row_2 {
  display: inline;
  position: relative;
  left: 206px;
  top: -232px;
  margin-left: 0px;
  
}
}

@media only screen and (max-width: 879px) {
 #wrapper {
  width: 87%;
  margin: auto;
}

div.row_3 {
  left: 420px;
}

div.row_2 {
  left: 213px;
}

}

@media only screen and (max-width: 852px) {
 #wrapper {
  width: 91%;
  margin: auto;
}

div.row_2 {
  left: 207px;
}

}

@media only screen and (max-width: 814px) {
 #wrapper {
  width: 97%;
  margin: auto;
}

div.row_2 {
  left: 200px;
}

}

@media only screen and (max-width: 764px) {
 #wrapper {
  width: 100%;
  margin: auto;
}

div.row_2 {
  left: 170px;
  top: -62px;
}

}

@media only screen and (max-width: 741px) {
 #wrapper {
  width: 54%;
  margin: auto;
}

div.row_2 {
  left: 54px;
  top: 151px;
  padding-bottom: 80px;
}

div.row_1 img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
}

div.row_1 {
  padding-top: 0px;
  margin: 0 auto;
  width: 89%;
}

div.row_3 {
  left: 54px;
  top: 8px;
}

}

@media only screen and (max-width: 683px) {

div.row_3 {
  width: 100%;
}


}

@media only screen and (max-width: 633px) {

#wrapper {
  width: 62%;
}

div.row_2 {
  width: 100%;
  top: 153px;
}

}

@media only screen and (max-width: 551px) {

#wrapper {
  width: 69%;
}

div.row_2 {
  left: 22px;
}

div.row_3 {
  left: 22px;
}

}

@media only screen and (max-width: 495px) {

#wrapper {
  width: 82%;
}

}

@media only screen and (max-width: 417px) {

#wrapper {
  width: 98%;
}

}

@media only screen and (max-width: 400px) {

#wrapper {
  width: 88%;
}

div.row_1 {
  width: 100%;
}

div.row_1 img{
  padding-left: 28px;
}

div.row_2 {
  left: 4px;
}

div.row_3 {
  left: 4px;
}
}


/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 


.mobileshow { 
 display: inline;

}

.mobileshow img.caption{
  position: relative;
  top: -96px;
}

#wrapper {
  width: 73%;
}

div.row_2 {
  left: 25px;
  top: 300px;
  font-size: 32px;
  padding-bottom: 120px;
}

div.row_2 img {
width: 5%; 

}

div.row_3 {
  left: 26px;
  top: 65px;
  font-size: 32px;
}

div.row_3 img {
width: 17%; 

}

div.row_1 img {
width: 89%; 
padding-top: 46px;

}

#logo img {
  width: 150px;
  height: 150px;
}     

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}  

#topbar {
  z-index: 1;
} 

}



/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

div.row_1 img {
        width: 295px;
        margin-left: auto;
        margin-right: auto;
    
      
    }


.mobilehide { 
display: none;

}

.mobileshow { 
 display: inline;

}


div.row_1 {
  padding-top: 0px;
  margin: 0 auto;
  width: 89%;
}

#logo {
  position: ;
}

#topbar {
  position: ;
}

div.row_3 {
  float: left;
  display: inline;
  top: -383px;
  left: 421px;
}

div.row_3 img {
        width: 20px;
    }

div.row_2 img {
        width: 20px;
    }
#wrapper {
  width: 774px;
  margin: auto;
}

div.row_2 {
  display: inline;
  position: relative;
  left: 206px;
  top: -174px;
  margin-left: 0px;
  
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


#topbar {
  z-index: 1;
} 


  }


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

div.row_2 {
  left: 25px;
  top: 300px;
  font-size: 32px;
  padding-bottom: 120px;
}

.mobilehide { 
display: none;

}

.mobileshow { 
 display: inline;

}


div.row_2 img {
width: 5%; 

}

div.row_3 {
  left: 26px;
  top: 65px;
  font-size: 32px;
}

div.row_3 img {
width: 17%; 

}

div.row_1 img {
width: 89%; 

}

#logo img {
  width: 150px;
  height: 150px;
}   

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#topbar {
  z-index: 1;
} 

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {


div.row_1 img {
        width: 295px;
        margin-left: auto;
        margin-right: auto;
    
      
    }

 .mobilehide { 
display: none;

}   

.mobileshow { 
 display: inline;

}

   

div.row_1 {
  padding-top: 0px;
  margin: 0 auto;
  width: 89%;
}

#logo {
  position: ;
}

#topbar {
  position: ;
}

div.row_3 {
  float: left;
  display: inline;
  top: -383px;
  left: 421px;
}

div.row_3 img {
        width: 20px;
    }

div.row_2 img {
        width: 20px;
    }
#wrapper {
  width: 774px;
  margin: auto;
}

div.row_2 {
  display: inline;
  position: relative;
  left: 206px;
  top: -174px;
  margin-left: 0px;
  
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#topbar {
  z-index: 1;
} 
}



/* ----------- iPad 1 and 2 ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

 .mobilehide { 
display: none;

}   

.mobileshow { 
 display: inline;

}

div.row_1 img {
  padding-left: 47px;
  margin-top: 85px;
  margin-right: 10px;
}

#wrapper {
  width: 823px;
}

div.row_3 {
  left: 462px;
}

div.row_2 {
  left: 236px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
 

 .mobilehide { 
display: none;

}   

.mobileshow { 
 display: inline;

}
div.row_1 img {
  width: 24%;
  padding-left: 143px;
  margin-top: 89px;
}

div.row_1 {
  width: 2025px;
  margin-left: ;
}

div.row_3 {
  top: -85px;
  right: -739px;
}

div.row_3 img {
  width: 30px;
}

div.row_3 a {
  font-size: 41px;
}

div.row_2 a {
  font-size: 41px;
}

div.row_2 img {
  width: 33px;
}

div.row_2 {
  position: relative;
  top: 103px;
  right: -175px;
  margin-left: 0px;
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}  

#topbar {
  z-index: 1;
} 

}



